# Token:
# 1. Create new Personal Access Token (Classic) on Github
# 2. Set expiration to No Expiration
# 3. Check write:packages scope
# 4. Generate token

//npm.pkg.github.com/:_authToken=PERSONAL_ACCESS_TOKEN
